.cl-code-block-button
  border-radius: 90px
  padding: 4px 12px 0px 12px
  margin-right: 4px
  border: none
  background-color: #EB6447
  color: #fff
  opacity: 0.3
  transition: opacity 400ms ease
  &:focus
    outline: none
  &.active
    opacity: 1
    transition: opacity 400ms ease