body
  // font-family: 'Lato', sans-serif;
  font-family: 'Josefin Sans', sans-serif;

h1, h2, h3
  color: #76687F
  font-weight: normal

h4, h5, h6,
p, span, a, ol, ul, li
  color: #6D707C

h2
  font-size: 32px
  margin: 24px 0

p, ol, ul
  font-size: 18px
  line-height: 1.6

ol
  padding-left: 24px
  margin-bottom: 24px
  
.cl-text-strip--bottom
  margin-bottom: 0

.cl-text-detail
  opacity: 0.65
  font-size: 16px
